---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header to="/" />
		<main>
			<h1>作ったもの</h1>
			<section>
				<h2>tools</h2>
				<ul>
					<li>
						<a href="/tools/pixel-image" class="hover:underline text-blue-500"
							>画像をドット風にする</a
						>
					</li>
				</ul>
			</section>
		</main>
	</body>
</html>

<style>
	ul {
		padding: 0 0 0 1em;
		margin: 0.5em 0;
		list-style: disc;
	}

	li p:last-child {
		margin: 0;
	}

	ul ul {
		list-style: circle;
	}

	ul ul ul {
		list-style: square;
	}
</style>
