---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Roulette from "../../components/pdca/Roulette";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`PDCAを回せ！ | ${SITE_TITLE}`}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<body>
		<Header to="/tools" />
		<main>
			<h2>PDCAを回せ！</h2>
			<section>
				<Roulette client:load />
			</section>
			<section>
				<h3>使い方</h3>
				<ul>
					<li>
						<p>4つのPDCAを回して、サイクルを回しましょう</p>
					</li>
				</ul>
			</section>
		</main>
	</body>
</html>
