---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Preview from "../../components/pixel-image/Preview";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header to="/tools" />
		<main>
			<h2>画像をドット風にする</h2>
			<section>
				<Preview client:load />
			</section>
			<section>
				<h3>使い方</h3>
				<ul>
					<li>
						<p>画像URLにドット風にしたい画像のURLを入力</p>
					</li>
					<li>
						<p>ドットの大きさ（セルサイズ）を調整</p>
					</li>
					<li>
						<p>色の範囲（Kサイズ）を調整</p>
					</li>
				</ul>
			</section>
			<section>
				<h3>source</h3>
				<ul>
					<li>
						<a
							href="https://github.com/ivgtr/pixel-image"
							class="hover:underline text-blue-500">ivgtr/pixel-image</a
						>
					</li>
				</ul>
			</section>
		</main>

		<style>
			ul {
				padding: 0 0 0 1em;
				margin: 0.5em 0;
				list-style: disc;
			}

			li p:last-child {
				margin: 0;
			}

			ul ul {
				list-style: circle;
			}

			ul ul ul {
				list-style: square;
			}
		</style>
	</body>
</html>
