---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import ArticlesContent from "../../components/articles/ArticlesContent.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`articles | ${SITE_TITLE}`}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<body>
		<Header to="/" />
		<main>
			<h1>Articles</h1>
			<ArticlesContent />
		</main>
	</body>
</html>
