---
import Accounts from "../components/Accounts.astro";
import BaseHead from "../components/BaseHead.astro";
import Links from "../components/Links.astro";
import Profile from "../components/Profile.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h1>tenori.uk</h1>
			<section>
				<h2>About me</h2>
				<Profile />
			</section>
			<section>
				<h2>Accounts</h2>
				<Accounts />
			</section>
			<section>
				<h2>Links</h2>
				<Links />
			</section>
		</main>
	</body>
</html>
