<ul>
	<li>
		<a
			href="/articles"
			data-astro-prefetch="viewport"
			class="hover:underline text-blue-500">articles</a
		>
	</li>
	<li>
		<a href="/tools" class="hover:underline text-blue-500">tools</a>
	</li>
</ul>

<style>
	ul {
		padding: 0 0 0 1em;
		margin: 0.5em 0;
		list-style: disc;
	}

	li p:last-child {
		margin: 0;
	}

	ul ul {
		list-style: circle;
	}

	ul ul ul {
		list-style: square;
	}
</style>
